*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    color: #242424;
    line-height: 1.5;
}

main {
    padding: 20px;
}

header {
    background-color: white;
    color: #242424;
    padding: 20px 50px;
    text-align: center;
    border-bottom: 0.7px solid rgb(34, 34, 34, 0.5);
}

header h1 {
    margin-bottom: 10px;
}
header nav ul{  
    list-style: none;
}

header nav ul li{
    display: inline;
    margin-right: 10px;
}
header nav ul li a{
    color: #242424;
    text-decoration: none;
}
section{
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 10px;
}

section p,section ul{
    margin-bottom: 10px;
}
section ul{
    list-style-type: disc;
    margin-left: 20px;
}

footer{
    margin-top: 10px;
    background-color: white;
    color: #242424;
    padding:20px 0;
    text-align: center;
    border-top: 0.7px solid rgba(34, 34, 34, 0.5);
}

header nav ul li a:hover {
    color: #616161;
}

#projetos ol li {
    display: inline;
}

#projetos ol li img {
    height: 300px;
    width: 450;
    margin: 20px;
    border-radius: 10px;
}